
header h1 {color: rgb(66, 114, 134)56);
text-align: center;
font-size: 90px}
main h2{color: rgb(3, 28, 97);
font-size: 50px	;}
main{background-color: rgb(40, 100, 95);}
footer{background-color: black;
text-align: center;
color: cornsilk;}
img{height: 200px;
width: 200px;
float: right;}
h1{background-color: rgb(46, 105, 105);
margin: 10px;
padding: 10px;
border:10px;}
h2{margin: 10px;
border: 10px;
padding: 10px}
 li{margin:5px;
border: 5px;
padding:5px;}
p{margin:5px;
border: 5px;
padding:5px;}
.center {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    
  }
